# Ignore Composer's vendor directory and lock file
/vendor/
/composer.lock

# Ignore any .env files
.env

# Ignore node modules
/node_modules/

# Ignore common file types that should not be version controlled
*.log
*.tmp
*.bak
*.swp
*.cache

# Ignore OS and IDE-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/